<!DOCsrc html>
<html ng-app="terraCottaApp">
  <head>
    <title>{{title}}</title>
    <meta charset='utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/coffee.ico">
    <link rel='stylesheet' href='/bower_components/semantic-ui/dist/semantic.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script src="/modules/terraCotta.js"></script>
    <script src="/modules/tcData.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body ng-controller="NavController as nav"  ng-init="nav.page={{view}}">
    <div id='m_menu' class="ui left vertical inverted labeled icon sidebar menu">
      
      <a class="item" id="back">
        <i class="right arrow icon"></i> Back
      </a>
      
      <a class="item" ng-class="{ active: nav.isSelected(1) }" href ng-click="nav.selectPage(1)">
        <i class="home icon"></i> Home
      </a>
    
      <a class="item" ng-class="{ active: nav.isSelected(2) }" href ng-click="nav.selectPage(2)">
        <i class="food icon"></i> Menu
      </a>
    
      <a class="item" ng-class="{ active: nav.isSelected(3) }" href ng-click="nav.selectPage(3)">
        <i class="user icon"></i> About
      </a>
    
      <a class="item" ng-class="{ active: nav.isSelected(4) }" href ng-click="nav.selectPage(4)">
        <i class="mail icon"></i> Contact
      </a>
    </div>
    
    <header>
      <div id='mainHead'>
        <div id='menu' class="ui fluid four item orange pointing menu">
    
          <a class="item" ng-class="{ active: nav.isSelected(1) }" href ng-click="nav.selectPage(1)">
            <i class="home icon"></i> Home
          </a>
    
          <a class="item" ng-class="{ active: nav.isSelected(2) }" href ng-click="nav.selectPage(2)">
            <i class="food icon"></i> Menu
          </a>
    
          <a class="item" ng-class="{ active: nav.isSelected(3) }" href ng-click="nav.selectPage(3)">
            <i class="user icon"></i> About
          </a>
    
          <a class="item" ng-class="{ active: nav.isSelected(4) }" href ng-click="nav.selectPage(4)">
            <i class="mail icon"></i> Contact
          </a>
        </div>
    
        <div id='m_btn' class="ui orange labeled icon button">
          <i class="list layout icon"></i>Menu
        </div>
    
        <div class="ui icon header inverted">
            <i class='circular coffee icon inverted'></i> <b>Enjoy. Cotta's. Coffee</b>
        </div>
    
        <h2 class="ui header yellow">
          <div class="content">
            Enjoy. Cotta's. Coffee
          </div>
        </h2>
      </div>
      <img src='images/header.jpg' id="mainImage" alt='header image' />
    </header>
    <div id="container" ng-controller="MenuController as MenuCtrl">
    {{{body}}}
    </div>
    <tc-Footer></tc-Footer>
  </body>
</html>
