<footer>
  <article>
  <div class="ui column grid stackable">
      <div class="four wide column">
        <div class="ui horizontal icon divider">
          <i class="circular sitemap icon"></i>
        </div>

        <div class="ui list">
<a class="item" ng-class="{ active: nav.isSelected(1) }" href ng-click="nav.selectPage(1)">
        <i class="home icon"></i> Home
      </a>

      <a class="item" ng-class="{ active: nav.isSelected(2) }" href ng-click="nav.selectPage(2)">
        <i class="archive icon"></i> Menu
      </a>

      <a class="item" ng-class="{ active: nav.isSelected(3) }" href ng-click="nav.selectPage(3)">
        <i class="user icon"></i> About
      </a>

      <a class="item" ng-class="{ active: nav.isSelected(4) }" href ng-click="nav.selectPage(4)">
        <i class="mail icon"></i> Contact
      </a>
        </div>
      </div>

      <div class="eight wide column">
        <div class="ui horizontal icon divider">
          <i class="circular info circle icon"></i>
        </div>
        <p>34 North Main St. Alfred, NY 14802 607 587 (8800)</p>
        <p>john.ninos@google.com</p> 
        <p>Visit the <a href="http://www.alfredjet.com/">Jet Restaurant!</a> or <a href="https://www.facebook.com/TerraCottaCoffeeHouse"><i class="facebook icon"></i>Our Facebook Page</a></p> 

      </div>

      <div class="four wide column">
        <div class="ui horizontal icon divider">
          <i class="circular map icon"></i>
        </div>

        <div class="ui feed small">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2953.1137258429844!2d-77.78890538624434!3d42.25474385729342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3a4d80d97affe559!2sTerracotta+Coffee+House!5e0!3m2!1sen!2sus!4v1434763715956" width="250" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
    </article>
</footer>